<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="heading_div">
        <h1>Cody J Allen</h1>
        <p>cody.allenengr@gmail.com</p>
    </div>
    <nav id="main_nav_bar" class="main_nav_bar">
        <ul class="main_nav_list">
            <li><a>Experience</a></li>
            <li><a>Projects</a></li>
            <li><a>Resources</a></li>
            <li><a>Contact</a></li>
            <li><a>Extras</a></li>
        </ul>
    </nav>
    <div class="main_body">
        <h2 class="section_heading">Welcome to my website!</h2>
        <p id="about" class="content">
            {{intro}}
        </p>
    </div>
    <div class="footer">
        <button id="myButton">Click Me!</button>
        <p id="response"></p>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
