<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="heading_div">
        <h1>Cody J Allen</h1>
    </div>
    <nav id="main_nav_bar" class="main_nav_bar">
        <ul class="main_nav_list">
            <li><a>Experience</a></li> <!--need to add hrefs to <a> for each of these-->
            <li><a>Projects</a></li>
            <li><a>Resources</a></li>
            <li><a>Contact</a></li>
        </ul>
    </nav>
    <div>
        <p id="about" class="content">
            Welcome to my website. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        </p>
    </div>
    <div class="content">
        <button id="myButton">Click Me!</button>
        <p id="response"></p>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
