<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div class="wrapper">
        <div class="heading_div">
            <h1>Cody J Allen</h1>
            <p>cody.allenengr@gmail.com | <a href="https://github.com/cjallen58">github.com/cjallen58</a></p>
        </div>
        <nav id="main_nav_bar" class="main_nav_bar">
            <ul class="main_nav_list">
                <li><a>Education</a></li>
                <li><a>Skills</a></li>
                <li><a>Experience</a></li>
                <li><a>Projects</a></li>
                <li><a>Resources</a></li>
                <li><a>Contact</a></li> <!--make a pop up div that displays a business card when this is clicked-->
                
            </ul>
        </nav>
        <div class="main_body">
            <div class="content">
                <h2 class="section_heading">Welcome to my website!</h2>
                <p id="intro">{{intro}}</p>
            </div>
            <div class="content">
                <h2 class="section_heading">Education</h2>
                <p>Drexel University | Philadelphia, PA</p>
                <p>Bachelors of Science Mechanical Engineering</p>
                <p>Graduation: June 2020</p>    
                <h3 class="courses">Courses</h3>
            </div>
            <div class="content">
                <h2 class="section_heading">Skills</h2>
            </div>
            <div class="content">
                <h2 class="section_heading">Experience</h2>
                <h3 class="experience_heading">SYSTEM SOLUTIONS ENGINEER| CATALYX| NOVEMBER 2022 TO PRESENT</h3>
                <h3 class="experience_heading">MECHANICAL DESIGN ENGINEER| PRECISION MEDICAL INC.| SEPTEMBER 2020 TO NOVEMBER 2022</h3>
                <h3 class="experience_heading">PROCESS ENGINEERING CO-OP| HARGROVE LIFE SCIENCES| SEPTEMBER TO APRIL 2019</h3>
                <h3 class="experience_heading">PROJECT ESTIMATOR CO-OP| AES CLEAN TECHNOLOGIES| SEPTEMBER TO APRIL 2018</h3>
                <h3 class="experience_heading">LAB TECHNICIAN| DORMAN PRODUCTS INC. | SPETEMBER TO APRIL 2017</h3>
                <h3 class="experience_heading">EAGLE SCOUT PROJECT| AUGUSTUS LUTHERAN CHURCH | MARCH 2014</h3>
                <p id="experience">{{lorem}}</p>
            </div>
            <div class="content">                
                <h2 class="section_heading">Projects</h2>
                <p id="projects">{{lorem}}</p>
            </div>
            <div class="content">
                <h2 class="section_heading">Resources</h2>
                <p id="Resources">{{lorem}}</p>
            </div>
        </div>
        <div class="footer">
            <button id="myButton">Click Me!</button>
            <p id="response"></p>
        </div>
    </div>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
    
    </html>